---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Maleta from "../icons/Maleta.astro";
import ProyectosIcon from "../icons/ProyectoIcon.astro";
import Proyectos from "../components/Proyectos.astro";
import UserIcon from "../icons/UserIcon.astro"
import Presentacion from "../components/Presentacion.astro";
import About from "../components/About.astro"
---

<Layout
	title="Portfolio de Agustin Hahn - Desarrollador y programador web"
	description="Contratame para construir soluciones"
>
	<main class="px-4">
		<SectionContainer>
			<div class="flex mb-7">
				<img
					class="rounded-full size-15 mr-6"
					src="https://img.olympics.com/images/image/private/t_1-1_300/f_auto/v1687307644/primary/cqxzrctscdr8x47rly1g"
					alt="linyefoto"
				/>
				<div class="flex flex-col justify-center">
					<h1
						class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-1 items-center"
					>
						Hola, soy Agustin
					</h1>
					<a
						href="https://www.linkedin.com/in/agustin-hahn-766b98183/"
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center"
					>
						<Badge>Disponible para trabajar</Badge>
					</a>
				</div>
			</div>
			<Presentacion />
		</SectionContainer>
		
		<SectionContainer id="proyectos">
			<h2
				class="text-4xl font-semibold mb-6 flex gap-x-3 items-center"
			>
				<ProyectosIcon class="size-7" />
				Proyectos
			</h2>
			<Proyectos />
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
				<Maleta class="size-7" />
				Experiencia Academica
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="about">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
				<UserIcon class="size-7" />
				Sobre mi
			</h2>
			<About />
		</SectionContainer>
		<a class="fixed bottom-4 right-4 opacity-50 bg-gray-700 text-white px-4 py-2 rounded-lg shadow" href="#nav">Volver arriba</a>
	</main>
</Layout>

<style>
	.fontSize {
		font-size: 15px;
	}
</style>
