---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import LinkedinIcon from "../icons/Linkedin.astro"
import SocialPill from "../components/SocialPill.astro"
import GithubIcon from "../icons/GithubIcon.astro"
import MailIcon from "../icons/MailIcon.astro"
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro"
import Maleta from "../icons/Maleta.astro";
import ProyectosIcon from "../icons/ProyectoIcon.astro"
import Proyectos from "../components/Proyectos.astro";
---

<Layout title="Portfolio de Agustin Hahn - Desarrollador y programador web"
	description="Contratame para construir soluciones"
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img class="rounded-full w-12 h-12"
			src="https://img.olympics.com/images/image/private/t_1-1_300/f_auto/v1687307644/primary/cqxzrctscdr8x47rly1g" 
			alt="linyefoto" />
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy linyericida<a href="https://www.linkedin.com/in/agustin-hahn-766b98183/" 
				target="_blank" 
				rel="noopener"
				class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span >
					+1 año de experiencia renegando.
				</span>
				<span class="text-yellow-200/90">
					Desarrollador frontend.
				</span>
				<span class="text-red-100/90">
					de Rosario, argentina.
				</span>
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/agustin-hahn-766b98183/">
					<LinkedinIcon class="size-4 md:size-6"/>
						<span class="fontSize">LinkedIn</span>
				</SocialPill>
				<SocialPill href="">
					<GithubIcon class="size-4 md:size-6" />
					<span class="fontSize">Github</span>
				</SocialPill>
				<SocialPill href="">
					<MailIcon class="size-4 md:size-6" />
					<span class="fontSize">agustin.f.hahn@gmail.com</span>
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Maleta class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<ProyectosIcon class="size-7" />
				Proyectos
			</h2>
			<Proyectos />
		</SectionContainer>
	</main>
</Layout>

<style>
	.fontSize{
		font-size:15px
	}
</style>