---
interface Props {
    idItem: number;
	title: string;
	description: string;
	details:string;
	tecnologies:string;
    link: string;
    github: string;
	images:[string]
    tags: [string]
}

import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Maleta from "../icons/Maleta.astro";
import ProyectosIcon from "../icons/ProyectoIcon.astro";
import UserIcon from "../icons/UserIcon.astro"
import Presentacion from "../components/Presentacion.astro";
import About from "../components/About.astro"
import Proyectos from "../components/Proyectos"
import EfectoEscritura from "../components/EfectoEscritura";
import PngFlotante from "../components/PngFlotante";
import Readicon from "../icons/Readicon.astro";
import Skills from "../components/Skills.astro";
import ButtonSubir from "../components/ButtonSubir.astro";

---



<Layout
	title="Portfolio de Agustin Hahn - Desarrollador y programador web"
	description="Contratame para construir soluciones"
>
	<main class="px-4">
		<SectionContainer>
			<div class="flex mb-7">
				<img
				class="rounded-full fotoperfil mr-6"
				src="https://avatars.githubusercontent.com/u/125411798?v=4"
				alt="linyefoto"
			/>
				<div class="flex flex-col justify-center min-w-96">
					<EfectoEscritura client:load/>
				</div>
			</div>
			<Presentacion />
		</SectionContainer>
		<SectionContainer>
			<h2
				class="text-4xl font-semibold mb-6 flex gap-x-3 items-center"
			>
				<ProyectosIcon class="size-7" />
				Habilidades
			</h2>
			<section class="flex flex-wrap justify-center">
				<Skills />
			</section>
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2
				class="text-4xl font-semibold mb-6 flex gap-x-3 items-center"
			>
				<Maleta class="size-7" />
				Proyectos
			</h2>
			<section class="flex flex-wrap justify-center">
				<Proyectos client:load/>
			</section>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
				<Readicon class="size-7" />
				Experiencia Academica
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="about">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
				<UserIcon class="size-7" />
				Sobre mi
			</h2>
			<About />
		</SectionContainer>
		<ButtonSubir />

	</main>
</Layout>

<style>
	.fontSize {
		font-size: 15px;
	}

	.fotoperfil{
		width: 260px;
		height: 260px;
	}
</style>
