---
---

<article>
    <span class="mb-4 text-base font-normal text-gray-500 dark:text-gray-200 text-pretty">Me presento, mi nombres es
        <span class="text-yellow-200/90">
            Agustin Hahn
        </span>
    .Tengo 27 años y actualmente soy estudiante de Desarrollo full-stack. Me gusta mucho el futbol, la musica y el ajedrez.<br>
    Me considero una persona muy resolutiva y proactiva, nunca me conformo con lo que se y siempre estoy buscando nuevos desafios.<br>
    Actualmente me desempeño como administrador de redes informaticas y encargado tecnico un equipo de trabajo.
    </span>
</article>