---
---

<article>
    <span class="mb-4 text-base font-normal text-gray-500 dark:text-gray-200 text-pretty">Me presento, mi nombres es
        <span class="text-yellow-200/90">
            Agustin Hahn
        </span>
    .Tengo 29 años y actualmente trabajo en un ISP, en el cual realizo tareas de administracion de red, optimizaciones de procesos y gestion de equipos de tabajo de campo.<br>
    Me considero una persona muy resolutiva y proactiva, nunca me conformo con lo que se y siempre estoy buscando nuevos desafios.<br>
    Mi pasion por el desarrollo comenzo hace unos años cuando me di cuenta de que siempre buscaba optimizar procesos con plantillas de excel o corrigiendo los procedimientos para mejorar los tiempos de accion.
    Previo a mi paso por la programacion fui aficionado a la seguridad informatica, lo que dio el paso inicial para que descubra python y comience a dar forma a lo que hoy se convirtio en uno de mis objetivos principales.<br>
    Como dev, me encargo principalmente de trabajos freelance y proyectos personales, aunque tambien he participado en proyectos grupales.</span>
</article>