---
---

<article>
    <span class="mb-4 text-base font-normal text-gray-500 dark:text-gray-200 text-pretty">Me presento, mi nombres es
        <span class="text-yellow-200/90">
            Agustin Hahn
        </span>
    .Tengo 27 años y actualmente soy estudiante de Desarrollo full-stack.<br>
    Me considero una persona muy resolutiva y proactiva, nunca me conformo con lo que se y siempre estoy buscando nuevos desafios.<br>
    Mi pasion por el desarrollo comenzo hace unos años cuando me di cuenta de que siempre buscaba optimizar procesos con plantillas de excel o corrigiendo los procedimientos para mejorar los tiempos de accion.
    Previo a mi paso por la programacion fui aficionado a la seguridad informatica, lo que dio el paso inicial para que descubra python y comience a dar forma a lo que hoy se convirtio en mi objetivo principal.<br>
    Si bien no cuento con experiencia laboral, cuento con experiencia en desarrollo ya que tras los multiples cursos realizados y mi dedicacion autodidacta he podido realizar varios proyectos y trabajar con muchas tecnologias que pude afianzar con el tiempo.<br>
    Actualmente me desempeño como administrador de redes informaticas y encargado tecnico de un equipo de trabajo.
    </span>
</article>