---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "2024 - Present",
        title: "Curso desarrollo Back-end en Coderhouse",
        description: "Actualmente me encuentro cursando y aprendiendo tecnologias del stack MERN (MongoDB / ExpressJs / ReactJs / NodeJs.",
        link: "https://example.com"
    },
    {
        date: "2023-2024",
        title: "Curso Fron-end en Coderhouse",
        description: "En este cursado aprendi HTML, CSS, JS. Me especialice en la libreria REACT y adicionalmente realice un curso de desarrollo de aplicaciones usando REACT-NATIVE.",
        link: "https://example.com"
    },
    {
        date: "2022 - Present",
        title: "Autodidacta",
        description: "Constantemente surgen preguntas e inquietudes por fuera de mis cursados que busco resolver con videos, tutoriales, informacion en blogs o simplemente leyendo documentacion. Gracias a ello, pude aprender tecnologias como ASTRO (framework para desarrollo web).",
        link: "https://example.com"
    },
{
    date: "2022",
    title: "Curso de Python en Udemy",
    description: "Este curso fue la puerta de acceso al mundo de la programacion, adquiri conocimientos basicos sobre Python que me sirvieron de base para lo que vendria luego.",
    link: "https://example.com"
}

]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-6">            
            <ExperienceItem {...experience} />
        </li>
        ))
    }
</ol>

