---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "2025 - futuro",
        title: "Analista en sistemas en instituto politecnico superior de Rosario",
        description: "Inscripto en esta carrera terciaria con el fin de comprender mas herramientas que me ayuden formarme como profesional en el campo IT.",
        link: "https://example.com"
    },
    {
        date: "2024-2025",
        title: "Diplomatura data science en Universidad nacional de Cordoba ",
        description: "Actualmente aprendiendo lenguajes como R y profundizando en python para desempeñarme en disciplinas como el analisis predictivo y el machine learning.",
        link: "https://example.com"
    },

    {
        date: "2024",
        title: "Curso desarrollo Back-end en Coderhouse",
        description: "Curso en el que me capacite para poder gestionar el backend de mis proyectos con tecnologias del stack MERN (MongoDB / ExpressJs / ReactJs / NodeJs.",
        link: "https://example.com"
    },
    {
        date: "2023-2024",
        title: "Curso Front-end en Coderhouse",
        description: "En este cursado aprendi HTML, CSS, JS. Me especialice en la libreria REACT y adicionalmente realice un curso de desarrollo de aplicaciones usando REACT-NATIVE.",
        link: "https://example.com"
    },
    {
        date: "2022 - Present",
        title: "Autodidacta",
        description: "Constantemente surgen preguntas e inquietudes por fuera de mis cursados que busco resolver con videos, tutoriales, informacion en blogs o simplemente leyendo documentacion. Gracias a ello, pude aprender tecnologias como ASTRO (framework para desarrollo web).",
        link: "https://example.com"
    },
{
    date: "2022",
    title: "Curso de Python en Udemy",
    description: "Este curso fue la puerta de acceso al mundo de la programacion, adquiri conocimientos basicos sobre Python que me sirvieron de base para lo que vendria luego.",
    link: "https://example.com"
}

]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-6">            
            <ExperienceItem {...experience} />
        </li>
        ))
    }
</ol>

