---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
{
    date: "2018 - Present",
    title: "Software Engineer",
    description: "Developed and maintained web applications using React, Node.js, and MongoDB.",
    link: "https://example.com"
},
{
    date: "2016 - 2018",
    title: "Junior Developer",
    description: "Assisted in the development of mobile applications using React Native and Redux.",
    link: "https://example.com"
},
{
    date: "2014 - 2016",
    title: "Intern",
    description: "Worked on various projects learning technologies such as HTML, CSS, and JavaScript.",
    link: "https://example.com"
}

]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
        EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-6">            
            <ExperienceItem {...experience} />
        </li>
        ))
    }
</ol>

