<header id="nav" class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a class="transition-colors hover:text-yellow-200/90" href="/">Inicio</a>
        <a class="transition-colors hover:text-yellow-200/90" href="#proyectos">Proyectos</a>
        <a class="transition-colors hover:text-yellow-200/90" href="#experiencia">Experiencia</a>
        <a class="transition-colors hover:text-yellow-200/90" href="#about">Sobre mi</a>
    </nav>
</header>