
.imgStyle{
    max-width: 40%;
}

@media(width:870px){
    .divPng{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgStyle{
        max-width: 80%;
    }
}